.login__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1.5rem;
}

.login__users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.login__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__avatar {
  width: 7rem;
  filter: grayscale(60%);
  border-radius: 100%;
  border: 1.5px solid var(--eerie-black);
  cursor: pointer;
  box-shadow: 4px 4px 2px var(--dim-gray);
}

.login__arrow {
  color: var(--pale-silver);
  font-size: 1.8rem;
  position: absolute;
  left: -5.5rem;
  top: 2.7rem;
  cursor: pointer;
}

.login__input {
  height: 2rem;
  position: relative;
}

.login__input button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 0.75rem;
  color: var(--eerie-black);
  animation-name: appear;
  animation-duration: 1s;
}

.login__input input {
  border-radius: 1.5rem;
  outline: none;
  padding: 0 1rem;
  letter-spacing: 2pt;
  border: 1.5px solid var(--eerie-black);
  background-color: var(--tumbleweed);
  height: 2.5rem;
  width: 17rem;
  text-align: center;
  box-shadow: 3px 3px 2px var(--eerie-black);
  animation-name: slideOpen;
  animation-duration: 1s;
  font-size: 1rem;
}

.login__error {
  color: var(--mandarin);
  font-style: italic;
  margin-top: 0.8rem;
}

.login__charging {
  width: 250px;
  height: 1rem;
  border-radius: 1rem;
  border: 1.5px solid var(--eerie-black);
  box-shadow: 3px 3px 2px var(--eerie-black);
  background-color: var(--linen);
  position: relative;
  overflow: hidden;
}

.login__charging::before {
  content: "";
  width: 250px;
  height: 1rem;
  position: absolute;
  background-color: var(--mandarin);
  left: 0;
  transform: translateX(0px);
  animation-name: charging;
  animation-duration: 8s;
  animation-timing-function: cubic-bezier(0.1, 0.59, 0, 0.96);
}

@keyframes charging {
  0% {
    transform: translateX(-250px);
  }

  20% {
    transform: translateX(-200px);
  }
  40% {
    transform: translateX(-170px);
  }

  50% {
    transform: translateX(-150px);
  }

  60% {
    transform: translateX(-120px);
  }

  70% {
    transform: translateX(-110px);
  }

  75% {
    transform: translateX(-100px);
  }
  85% {
    transform: translateX(-30px);
  }
  90% {
    transform: translateX(-15px);
  }
  94% {
    transform: translateX(-15px);
  }
  95% {
    transform: translateX(-15px);
  }
  96% {
    transform: translateX(-10px);
  }
  97% {
    transform: translateX(-10px);
  }
  98% {
    transform: translateX(-5px);
  }
  99% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideOpen {
  0% {
    opacity: 0;
    width: 0rem;
    transform: scaleX(0);
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
  }
  75% {
    width: 19rem;
  }
  100% {
    width: 17rem;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
