:root {
  --smoky-black: #141312;
  --eerie-black: #22201e;
  --dark-lava: #4b4641;
  --dim-gray: #736c63;
  --grullo: #a99f92;
  --pale-silver: #d2c5b5;
  --bone: #dfd1c0;
  --linen: #ece2dd;
  --tumbleweed: #eeb399;
  --dark-salmon: #ef9b77;
  --mandarin: #ef8354;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/background6.jpg);
  background-repeat: none;
  background-size: cover;
  overflow: hidden;
  cursor: default;
}

* .App {
  text-align: center;
  height: 100vh;
}

button {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  color: var(--dim-gray);
  padding: 5px;
  font-size: 0.9rem;
}

.footer a:hover {
  text-decoration: underline;
}

a:link {
  text-decoration: none;
  color: var(--dark-lava);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

div[role="presentation"] {
  cursor: pointer;
}
